OMRS_CREATE_TABLES=true
OMRS_AUTO_UPDATE_DATABASE=false

ENABLE_ENCOUNTER_LOCATION_TO_COMPANY_MAPPING=true

BAHMNI_HOSTNAME=${HOST_NAME}

ODOO_HOST=http://odoo
ODOO_PORT=8069
ODOO_USER=admin
ODOO_PASSWORD=admin
ODOO_DATABASE=odoo
